# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## **Some of the popular languages that Data Scientists use are:**
* Python
* R programming
* C++

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. matplotlib
4. seaborn

|Data Science Tools|
|------------|
|Jupyter|
|Rstudio|
|Visual Studio Code(VS)|

### Below are a few examples of evaluating arithmetic expressions in Python.
* Adding +
* Subtracting -
* dividing /
* Multiplying *

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/ 60

3.3333333333333335

**Objectives:**
* open source environment
* intro to python
* intro to R
* Github basics
* MAX model asset exchange

## Author:
    Amal F.